
{% if products %}
    {% for product in products %}
    <li>
        <div class="product-card">

            <div class="product-card-and-view-mask">

                     {% if not product.product_in_stock %}
                        <div class="extra-msg out">
                            <p>Out of stock</p>
                        </div>
                     {% elif product.on_discount %}
                        <div class="extra-msg offer">
                            <p>{{product.discount_reason.discount_reason |upper}} <i>{{product.discount_percentage}}% OFF</i></p>
                        </div>
                     {% endif %}
                    <a href="#">
                        <div class="view-mask">
                            <p>View Details</p>
                        </div>
                    </a>

                <div class="p-c-img">
                    <img draggable="false" src="{{product.product_primary_image.url}}" alt="{{product.product_search_keyword}}">
                </div>

            </div>

            <div class="line"></div>
            {% if product.on_discount %}
                 <div class="price">
                    <p class="n-price">${{product.product_price}}</p>
                     <p class="offer-price">$<span>{{product.discount_price}}</span></p>
                 </div>
            {% else %}
                 <div class="price">
                    <p>$<span>{{product.product_price}}</span></p>

                 </div>
            {% endif %}
            <p class="title">{{product.product_title}}</p>


            <div class="p-c-btns">
                {% if product.product_in_stock %}
                    <button class="add-to-cart">Add to cart</button>
                {% else %}
                     <button class="add-to-cart" style="background:gray; opacity:.6; cursor:not-allowed;" disabled>Out of stock</button>
                {% endif %}
                <button class="add-to-wishlist">
                    <i class="far fa-heart"></i>
                </button>
            </div>
        </div>

    </li>
{% endfor %}
{% else %}
    <p style="font-weight:500; width:250px;">No products Found !</p>
{% endif %}